:root {
  --color-primary: #fff;
  --color-content: #818597;
  --color-list: #525a76;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
  line-height: 1.5;
}

h1 {
  color: var(--color-primary);
  font-size: 4rem;
  line-height: 1.1;
}
h2 {
  color: #02042d;
  font-size: 4rem;
}
h3 {
  color: #02042d;
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
}
/* Utility Classes Start*/
/* Flex */
.flex {
  display: flex;
  gap: var(--gap, 3rem);
}

/* Grid */
@media screen and (min-width: 767px) {
  .grid-md-col-2 {
    display: grid;
    gap: var(--gap, 3rem);
    grid-template-columns: repeat(2, 50fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid-lg-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 50fr);
    gap: var(--gap, 3rem);
  }
  .grid-lg-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 50fr);
    gap: var(--gap, 3rem);
  }
}

/* Display Hidden*/
@media screen and (max-width: 767px) {
  .d-md-block {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .d-lg-block {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .d-lg-none {
    display: none;
  }
}

/* Block */
.block {
  width: 100%;
  padding-inline: 3rem;
}
.block--dark {
  background-color: #02042d;
}
/* Text */
.text-center {
  text-align: center;
}
/* Utility Classes End*/

/* Heading */
.heading--primary {
  color: black;
}
.heading-underline::after {
  color: #61cea6;
  content: "----";
  letter-spacing: -6px;
  display: block;
}
.heading-underline-center::after {
  margin-inline: auto;
}
/* Container */
.container {
  margin: 0 auto;
  max-width: 1180px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  gap: 1rem;
}
.navbar__nav {
  list-style-type: none;
  align-items: center;
}
.nav__link {
  padding: 1.5rem 0.5rem;
}
.nav__link a {
  color: var(--color-content);
  text-decoration: none;
}
.nav__link.active {
  color: #2681ea;
  border-bottom: 5px solid #2681ea;
}
.mobile-nav-toggler {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar__nav {
    align-items: flex-start;
    background-color: white;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 600px;
    inset: 0 0 auto auto;
    padding: 3rem;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(200%);
    transition: transform 350ms ease-out;
    z-index: 1000;
  }
  .navbar__nav[data-visible="true"] {
    transform: translateX(0%);
  }
  .nav__link {
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgray;
    width: 100%;
  }
  .mobile-nav-toggler {
    display: inline-block;
    background-image: url("./assets/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 2rem;
    background-size: 2rem;
    aspect-ratio: 1;
    position: absolute;
    inset: 3rem 1rem auto auto;
    z-index: 9999;
  }
  .mobile-nav-toggler[aria-expanded="true"] {
    background-image: url("./assets/icon-close.svg");
  }
}

/* Hero Component */
.hero {
  color: var(--color-content);
  align-items: center;
}

.hero__text {
  margin-block: 1.5rem;
}
.section-2__image {
  width: 100%;
}

/* Button Component */
.btn {
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  padding: 1.4rem 1.8rem;
  text-transform: capitalize;
}
.btn--outline {
  background-color: #02042d;
  border: 1px solid #2b84ea;
  color: var(--color-primary);
  margin-right: 1.6rem;
}
.btn--primary {
  background-color: #2b84ea;
  border-radius: 5px;
  box-shadow: 0 0 0 #000;
  color: var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-primary);
  color: #2b84ea;
}
.btn svg {
  height: 13px;
  width: 13px;
}
/* Section 2 */

.section-2 {
  color: #02042d;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 4rem;
  margin-block: 2rem;
}

.section-2 footer {
  flex-direction: column-reverse;
  align-items: stretch;
}

@media screen and (min-width: 767px) {
  .section-2 footer {
    margin-top: 4rem;
    flex-direction: row;
    align-items: center;
  }
}
/* List Component */
.list-block {
  list-style-type: none;
  color: var(--color-content);
}
.list-tick {
  list-style-image: url("./assets/tick.svg");
  margin-inline: 2rem;
}

.list-block .list-item {
  cursor: pointer;
  margin-block: 1.5rem;
}

/* Link Component */
.arrow-link {
  color: #2b84ea;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}
.arrow-link::after {
  content: ">";
  margin-inline-start: 4px;
}

/* Section 3 */
/* Card Component*/
.card-container {
  display: grid;
  gap: 3rem;
  --gap: 3rem;
}
.card {
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
  padding: 2rem;
}
.card__header {
  color: #02042d;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.card__body {
  color: var(--color-content);
  font-size: 1.6rem;
  margin-block: 3rem;
}

/* Folded Corners */
/* .folded-payment-link {
  position: relative;
}
.folded-payment-link::before {
  content: url("./assets/payment-links.svg");
  background-color: #2b84ea;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  border-radius: 100%;
  padding: 5px;
  border-width: 0;
  border-style: solid;
  border-color: #fff #fff #818597 #818597;
} */
